:root { 
--black_900_b2:#000000b2; 
--blue_gray_50:#f1f1f3; 
--black_900_90:#00000090; 
--light_blue_600:#13a1da; 
--red_400:#f45a5a; 
--black_900_3f:#0000003f; 
--gray_50:#f8f8f8; 
--green_400:#66f45a; 
--black_900:#000000; 
--yellow_700:#f0c932; 
--gray_500_01:#a5a1a1; 
--deep_orange_400:#fe753f; 
--blue_gray_900:#333333; 
--purple_A200:#c35af4; 
--yellow_100:#ffe9cc; 
--orange_A100:#ffd499; 
--gray_700:#585859; 
--gray_500:#a4a0a0; 
--orange_A400:#ff9400; 
--gray_800:#4c4c4c; 
--blue_600:#2489d3; 
--gray_900:#262626; 
--orange_400:#ffab2e; 
--gray_300:#e5e5e5; 
--gray_300_01:#e3e3e7; 
--gray_100:#f7f7f8; 
--black_900_75:#00000075; 
--orange_50:#fff4e5; 
--black_900_99:#00000099; 
--blue_600_ab:#2489d3ab; 
--white_A700:#ffffff; 
--gray_700_01:#646467; 
}